<ion-content class="login_background">
    <div class="profile_head">
        <div class="profile_left textCenter">
            <button type="button" ion-button small class="theme_background" (click)="change_lang('ar')">عربي</button>
            <button  type="button" ion-button small class="theme_background" (click)="change_lang('en')">English</button>
        </div>
        <div class="clear"></div>
    </div>

    <div class="wrapper">
        <div class="top_wrapper">
            <form novalidate [formGroup]="form" (ngSubmit)="login()">
                <div class="log_div">
                    <img src="assets/imgs/land.jpeg">
                    <ion-card>
                        <ion-card-content>

                            <ion-list>
                                <ion-item>
                                    <ion-input class="user" placeholder="{{get_trans('email')}}" formControlName="email"></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-input type="password" class="pass" placeholder="{{get_trans('password')}}" formControlName="password"></ion-input>
                                </ion-item>
                                <button ion-button full class="theme_background" icon-right type="submit">
                                    {{get_trans("login")}}

                                    <ion-icon name="ios-arrow-forward" class=""></ion-icon>
                                </button>
                            </ion-list>
                            <p class="cursor_pointer" (click)="forget_password()">{{get_trans("forget_password")}} ?</p>

                        </ion-card-content>
                    </ion-card>



                    <h6>{{get_trans("new_user")}}</h6>
                    <h5 class="cursor_pointer" (click)="signup()">
                        {{get_trans("create_account")}}
                    </h5>
                </div>
            </form>
        </div>
        <div class="bottom_wrapper">
        </div>
    </div>
</ion-content>
