<ion-content style=" vertical-align: middle;text-align: center;">
    <div class="landing_wrapper">

        <img src="assets/imgs/land.jpeg" alt="" class="landing_logo_img">
        <div>

            <!--<h3 class="land-text" ><ion-icon name="call"></ion-icon> 19650</h3>-->
            <!-- <h3 class="land-text" ><span style="color: green">{{location}}:</span> عنوان الطلب</h3> -->

            <ion-grid class="main_landing_grid" >
                <ion-row>
                    <ion-col col-8 offset-2>
                        <ion-item>
                            <ion-label>{{get_trans("city")}}</ion-label>
                            <ion-select [(ngModel)]="selected_city">
                                <ion-option *ngFor="let city of cities;let i = index" value="{{city.id}}">{{city.name}}</ion-option>
                            </ion-select>
                        </ion-item>

                    </ion-col>

                    <ion-col col-8 offset-2>
                        <button (click)="log()" block ion-button color="light">
                            {{get_trans('show_restaurants')}}
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </div>
    </div>
</ion-content>
