page-landing {
    .scroll-content {
        margin-top: 106px !important;
    }
    .landing_wrapper {
        width: 100%;
        .scroll_section {
            .scroll-x {
                .scroll-content {
                    margin: 0px !important;
                    .scroll-zoom-wrapper {
                        .row {
                            .list {
                                margin: 0px;
                                display: inherit;
                                border-bottom: 1px solid #d6d6d6;
                                .item {
                                    display: inline-block;
                                    .item-inner {
                                        .input-wrapper {
                                            .label {
                                                margin: 0px;
                                                .card {
                                                    width: 300px;
                                                    height: 250px;
                                                    padding: 0px;
                                                    border-radius: 6px;
                                                    box-shadow: none !important;
                                                    .card-content {
                                                        padding: 0px;
                                                        widows: 100px;
                                                        height: 100%;
                                                        .item_image {
                                                            width: 100%;
                                                            height: 160px;
                                                            background: #eaeaea;
                                                            border-radius: 6px;
                                                            position: relative;
                                                            .icon {
                                                                position: absolute;
                                                                top: 10px;
                                                                left: 10px;
                                                                color: #fff;
                                                                font-size: 24px;
                                                            }
                                                            img {
                                                                width: 100%;
                                                                height: 100%;
                                                                object-postion: center;
                                                                object-fit: cover;
                                                                border-radius: 6px;
                                                            }
                                                        }
                                                        .item_detail {
                                                            width: 100%;
                                                            height: calc(100% - 160px);
                                                            padding: 5px;
                                                            padding-top: 10px;
                                                            h2 {
                                                                color: #4c4c4c;
                                                                margin: 0px;
                                                                padding: 0px;
                                                                font-weight: 500;
                                                                letter-spacing: 0px;
                                                            }
                                                            p {
                                                                color: #6f6f6f;
                                                            }
                                                            h3 {
                                                                color: #989898;
                                                                font-size: 16px;
                                                                font-weight: 300;
                                                            }
                                                            h6 {
                                                                color: #759f32;

                                                                font-size: 16px;
                                                            }
                                                            h4 {
                                                                color: #949494;
                                                                .icon {
                                                                    margin-right: 5px;
                                                                }

                                                            }
                                                        }

                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        h5 {
            margin: 0px;
            padding: 10px;
            color: #696969;
            font-size: 18px;
            font-weight: 400;
        }
        .land-text {
            margin-top: -10%;
            color: #fff;
            font-weight: 500;
            text-transform: capitalize;
            font-weight: 50%;
            font-size: 22px;
            position: relative;
        }
        .land {
            background-color: #ffffff;
            opacity: 0.7;
            width: 70%;
            height: 9%;
            border-radius: 12px;
            font-weight: 500;
            text-transform: capitalize;
            font-weight: 50%;
            font-size: 30px;
            position: relative;
            ext-color: #eaff00
        }
        .land:hover {
            cursor: pointer;
        }
    }

    .item-select .label-md,
    .select-md .select-icon .select-icon-inner,
    .select-text{
        color: #000;
    }

    .main_landing_grid{
        //padding-top: 50%;
    }

    .landing_logo_img{
        width: 400px;
    }

}

.increase_or_decrease_quantity_parent_div{
    text-align: center;
    font-size:20px; ;

    button ion-icon{
        font-size:22px;
    }
}


@media (min-width: 696px) {
    page-landing {

        .main_landing_grid{
            //padding-top: 20%;
        }
    }
}
