<ion-header class="nav_header theme_background">
    <button ion-button class="nav_btn floatLeft" (click)="dismiss()">
        <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
    <div class="nav_header_title floatLeft textLeft">{{get_trans('edit_account')}}</div>

    <div class="clear"></div>
</ion-header>
<ion-content>
    <div class="profile_banner textCenter">
        <div class="profile_banner_circle">
        </div>
    </div>
    <div class="content_wrapper">
        <form novalidate [formGroup]="form">
            <ion-list>

                <ion-item>
                    <ion-label color="primary" stacked>{{get_trans("first_name")}}</ion-label>
                    <ion-input formControlName="fname" placeholder='{{get_trans("first_name")}}'></ion-input>
                </ion-item>
                <div>
                    <ng-container *ngFor="let validation of validation_messages.fname">
                        <div *ngIf="form.get('fname').hasError(validation.type)">
                            <p>{{validation.message}}</p>
                        </div>
                    </ng-container>
                </div>
                <ion-item>
                    <ion-label color="primary" stacked>{{get_trans("last_name")}}</ion-label>
                    <ion-input formControlName="lname" placeholder='{{get_trans("last_name")}}'></ion-input>
                </ion-item>
                <div>
                    <ng-container *ngFor="let validation of validation_messages.lname">
                        <div *ngIf="form.get('lname').hasError(validation.type)">
                            <p>{{validation.message}}</p>
                        </div>
                    </ng-container>
                </div>

                <ion-item>
                    <ion-label color="primary" stacked>
                        {{get_trans("country_code")}}
                    </ion-label>
                    <ion-select formControlName="phone_country_code">
                        <ion-option value="+970">+970</ion-option>
                        <ion-option value="+972">+972</ion-option>
                    </ion-select>
                </ion-item>
                <div>
                    <ng-container *ngFor="let validation of validation_messages.phone_country_code">
                        <div *ngIf="form.get('phone_country_code').hasError(validation.type)">
                            <p>{{validation.message}}</p>
                        </div>
                    </ng-container>
                </div>

                <ion-item>
                    <ion-label color="primary" stacked>{{get_trans("phone_number")}}</ion-label>
                    <ion-input formControlName="phone" placeholder='{{get_trans("phone_number")}}'></ion-input>
                </ion-item>
                <div>
                    <ng-container *ngFor="let validation of validation_messages.phone">
                        <div *ngIf="form.get('phone').hasError(validation.type)">
                            <p>{{validation.message}}</p>
                        </div>
                    </ng-container>
                </div>

                <ion-item>
                    <ion-label color="primary" stacked>{{get_trans('place')}}</ion-label>
                    <ion-input type="address" formControlName="address" placeholder="{{get_trans('place')}}"></ion-input>
                </ion-item>
                <div>
                    <ng-container *ngFor="let validation of validation_messages.address">
                        <div *ngIf="form.get('address').hasError(validation.type)">
                            <p>{{validation.message}}</p>
                        </div>
                    </ng-container>
                </div>

            </ion-list>
            <br>
            <button ion-button full class="theme_background save_btn" (click)="save()">
                {{get_trans("save")}}
            </button>
            <br>
        </form>
    </div>
</ion-content>
