<ion-header>
    <h1 style="text-align: center; color: green">{{get_trans("orders")}}</h1>
</ion-header>
<ion-content padding>
    <div class="order_wrapper">
        <p>{{get_trans("all_prices_include_tax")}}</p>
        <div>
            <ion-list>
                <ion-item *ngFor="let item of order[0]" (click)="orderdetail(item.order_id)">
                    <div class="list_image">

                        <img src="assets/imgs/item10.png">
                    </div>
                    <div class="list_details">
                        <ion-grid class="p0">
                            <ion-row>
                                <ion-col col-12 class="p0">
                                    <h4>
                                        {{item.restaurant_name}}
                                    </h4>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col col-8 class="p0">
                                    <p>{{item.date}}</p>
                                </ion-col>
                                <ion-col col-4 class="p0 textRight">
                                    <p>{{get_trans(item.status)}}</p>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col col-8 class="p0">
                                    <strong>
                                        {{item.order_obj.id}}
                                    </strong>
                                </ion-col>
                                <ion-col col-4 class="p0 textRight">

                                    <h6>{{get_trans("order_num")}} </h6>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col col-8 class="p0">
                                    <strong>
                                        {{item.currency}}
                                        {{item.order_obj.order_total_cost}}
                                    </strong>
                                </ion-col>
                                <ion-col col-4 class="p0 textRight">

                                    <h6>{{get_trans("order_cost_before_discount")}} </h6>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col col-8 class="p0">
                                    <strong>
                                        {{item.currency}}
                                        {{item.order_obj.order_total_discount}}
                                    </strong>
                                </ion-col>
                                <ion-col col-4 class="p0 textRight">

                                    <h6>{{get_trans("discount")}}</h6>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col col-8 class="p0">
                                    <strong>
                                        {{item.currency}}
                                        {{item.order_obj.order_deivery_cost}}
                                    </strong>
                                </ion-col>
                                <ion-col col-4 class="p0 textRight">

                                    <h6>{{get_trans("delivery_cost")}} </h6>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col col-8 class="p0">
                                    <strong>
                                        {{item.currency}}
                                        {{item.order_obj.final_cost}}
                                    </strong>
                                </ion-col>
                                <ion-col col-4 class="p0 textRight">

                                    <h6>{{get_trans("order_total_cost")}}</h6>
                                </ion-col>
                            </ion-row>





                        </ion-grid>
                    </div>
                </ion-item>

            </ion-list>
        </div>

    </div>
</ion-content>
