page-orderdetails {

    .order_wrapper{
        width:100%;
        .list{
            margin:0px;
            .item{
                margin-bottom: 10px !important;
                .item-inner{
                    .input-wrapper{
                        .label {
                            margin:0px;
                            .list_image{
                                width:100%;
                                height:250px;
                                position: relative;
                                img{
                                    width:100%;
                                    height:100%;
                                    object-fit: cover;
                                    object-position:center;
                                }
                                .not{
                                    width:35px;
                                    height:35px;
                                    position:absolute;
                                    top:15px;
                                    left:15px;
                                    border-radius: 50%;
                                    img{
                                        width:100%;
                                        height:100%;
                                        border-radius: 50%;
                                    }
                                }
                            }
                            .list_details{
                                padding: 10px;
                                h4{
                                    margin:0px;
                                    padding:0px;
                                    color: #636363;
                                    font-size: 18px;
                                    font-weight: 500;
                                    padding-bottom: 15px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis
                                }
                                p{
                                    color: #6d6d6d;
                                    padding:0px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    font-size: 15px;
                                    padding-bottom: 5px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    strong{
                                        color: #6d6d6d;
                                        font-weight: 400;
                                    }
                                }
                                .view_receipt{
                                    border:1px solid #aeaeae;
                                    text-transform: capitalize;
                                    color:#aeaeae;
                                    border-radius: 20px;
                                    padding: 5px;
                                    padding-left:20px;
                                    padding-right:20px;
                                    background: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
        .meals_list{
            width:100%;
            ul{
                margin:0px;
                padding:0px;
                padding: 10px;
                li{
                    list-style: none;
                    width:100%;
                    margin-bottom: 5px;
                    .number_circle{
                        width:25px;
                        height:25px;
                        border-radius: 50%;
                        background: #d7d7d7;
                        color: #505050;
                        text-align: center;
                        padding:4px;
                        position: relative;
                        top: 6px;
                        font-weight:700;

                    }
                    .circle{
                        width:40px;
                        height:40px;
                        border-radius: 50%;
                        background: #d7d7d7;
                        position: relative;
                        left: 15px;
                        img{
                            width:100%;
                            height:100%;
                            border-radius: 50%;
                            object-fit:cover;
                            object-postion:center;
                        }
                    }
                    p{
                        margin:0px;
                        padding:10px;
                        color: #787878;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 16px;
                    }
                    h6{
                        margin:0px;
                        padding:0px;
                        color: #505050;
                        font-size: 16px;
                        padding: 10px;
                    }
                }
                .rate{
                    height:40px;
                    width:100%;
                    color: #fff;
                    background: #3e3e3e;
                    text-transform: capitalize;
                    border:1px solid #fff;
                    border-radius: 0px;
                    font-weight: 300;
                    font-size:16px;
                }
                .reorder{
                    height:40px;
                    width:100%;
                    color: #fff;
                    background: #8bbd3d;
                    text-transform: capitalize;
                    border:1px solid #fff;
                    border-radius: 0px;
                    font-weight: 300;
                    font-size:16px;
                }
            }
        }

        .item_status_row{
            text-align: right;
        }

        .order_status_ul{
            list-style: none;
            direction: rtl;
            padding:0px;
            margin:0px;

            li{
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .order_icon_border{
                border-radius:100%;
                border: 2px solid #ccc;
                text-align: center;
                padding: 5px;
                color: #CCC;
            }

            .order_status_text{
                margin-right:5px;
                color: #CCC;
            }

            .order_icon_border.active,
            .order_status_text.active{
                color: #759f32;
                border-color:#759f32;
            }

        }


    }


    .text-center{
        text-align: center;
    }

}
