<ion-header class="nav_header theme_background">
    <button class="nav_btn floatLeft text_color_white" (click)="dismiss()">
        <ion-icon name="ios-arrow-round-back-outline"></ion-icon>
    </button>
    <button class="nav_btn floatLeft text_color_white" (click)="go_to_home()">
        <ion-icon name="home"></ion-icon>
    </button>

    <div class="nav_header_title floatLeft text_color_white">
        {{get_trans("order_details")}}
    </div>
</ion-header>

<ion-content>
    <div *ngFor="let ite of item" class="order_wrapper">
        <ion-list>
            <ion-item>
                <div class="list_image">

                    <img src="{{uploads_url}}restaurants/{{ite.cover}}">
                </div>
                <div class="list_details">
                    <ion-grid class="p0">
                        <ion-row>
                            <ion-col col-12 class="p0">
                                <h4>
                                    {{ite.restaurant_name}}
                                </h4>
                            </ion-col>
                        </ion-row>
                        <ion-row class="item_status_row">

                            <!--order number-->
                            <ion-col col-12 class="p0  textRight">
                                <p>
                                    <strong class="floatRight">
                                        {{get_trans("order_num")}}
                                    </strong>

                                    <strong class="floatLeft">
                                        {{ite.order_obj.id}}
                                    </strong>
                                </p>
                            </ion-col>

                            <ion-col col-12 class="p0  textRight">
                                <p>{{get_trans("order_status")}}</p>
                            </ion-col>


                            <ion-col col-12 class="p0">
                                <ul class="order_status_ul">
                                    <li *ngFor="let status of ite.all_statues;let i=index">
                                        <span class="order_icon_border" [class.active]="ite.status_id>=i">
                                            <span class="order_icon">
                                                <ion-icon name="checkmark"></ion-icon>
                                            </span>
                                        </span>

                                        <span class="order_status_text" [class.active]="ite.status_id>=i">
                                            {{get_trans(status)}}
                                        </span>
                                    </li>
                                </ul>

                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <br>

                    <div class="text-center">
                        <button ion-button round (click)="ratting(ite.restaurant_obj.id)">
                            <ion-icon name="star"></ion-icon>
                            <span>{{get_trans("rate_restaurant")}}</span>
                        </button>
                    </div>

                </div>
            </ion-item>
        </ion-list>
        <div class="meals_list">

            <ul>
                <div *ngFor="let menu of ite.items">
                    <li>
                        <ion-grid class="p0">
                            <ion-row>
                                <ion-col col-1 class="">
                                    <div class="number_circle">
                                        {{menu.quantity}}
                                    </div>
                                </ion-col>
                                <ion-col col-2 class="">
                                    <div class="circle">
                                        <img src="{{uploads_url}}menu/{{menu.image}}">
                                    </div>
                                </ion-col>
                                <ion-col col-6 class="">
                                    <p>{{menu.item}}</p>
                                </ion-col>
                                <ion-col col-3 class="textRight">
                                    <h6>{{ite.currency}}{{menu.price}}</h6>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </li>
                </div>
                <hr>
                <li>
                    <ion-grid class="p0">

                        <ion-row>
                            <ion-col col-12 class="textCenter">
                                {{get_trans("all_prices_include_tax")}}
                            </ion-col>
                            <ion-col col-6 class="">
                                <h6>{{get_trans("cash_payment")}}</h6>
                            </ion-col>
                            <ion-col col-6 class="textRight">
                                <h6><strong>{{get_trans("payment_methods")}}</strong></h6>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col col-6 class="">
                                <h6>
                                    {{ite.currency}}
                                    {{ite.order_obj.order_total_cost}}
                                </h6>
                            </ion-col>
                            <ion-col col-6 class="textRight">
                                <h6><strong>{{get_trans("order_cost_before_discount")}}</strong></h6>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col col-6 class="">
                                <h6>
                                    {{ite.currency}}
                                    {{ite.order_obj.order_total_discount}}
                                </h6>
                            </ion-col>
                            <ion-col col-6 class="textRight">
                                <h6><strong>{{get_trans("discount")}}</strong></h6>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col col-6 class="">
                                <h6>
                                    {{ite.currency}}
                                    {{ite.order_obj.order_deivery_cost}}
                                </h6>
                            </ion-col>
                            <ion-col col-6 class="textRight">
                                <h6><strong>{{get_trans("delivery_cost")}}</strong></h6>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col col-6 class="">
                                <h6>
                                    {{ite.currency}}
                                    {{ite.order_obj.final_cost}}
                                </h6>
                            </ion-col>
                            <ion-col col-6 class="textRight">
                                <h6><strong> {{get_trans("order_total_cost")}}</strong></h6>
                            </ion-col>
                        </ion-row>



                    </ion-grid>
                </li>
                <li>

                </li>

            </ul>
        </div>
    </div>
</ion-content>
