<ion-content>
    <div *ngFor="let item of items" class="item_detail_wrapper">
        <div class="item_detail_banner">
            <div class="top_bar">
                <button ion-button class="nav_btn floatLeft rgba_bg" (click)="close()">
                    <ion-icon name="ios-arrow-back"></ion-icon>
                </button>
                <button ion-button class="nav_btn floatRight rgba_bg" (click)="add_to_favorite(item.restaurant_id)">
                    <ion-icon
                        class="{{item.check_added_to_fav_list?'fav_rest ion-ios-heart':'ion-ios-heart-outline'}}"
                    ></ion-icon>
                </button>
                <div class="clear"></div>
            </div>
            <img src="{{uploads_url}}/restaurants/{{item.cover}}">
            <div class="banner_stamp">
                <ion-grid class="p0">
                    <ion-row>
                        <ion-col col-12 class="p0">
                            <h4>
                                {{item.restaurant_name}}
                            </h4>
                        </ion-col>

                    </ion-row>
                    <ion-row>
                        <ion-col col-6 class="p0">
                            <p>{{item.restaurant_type}}</p>
                        </ion-col>
                        <ion-col col-6 class="p0 textRight">
                            <p class="{{selected_lang}}_direction">
                                {{get_trans("delivery_cost")}}:
                                {{item.currency}} {{item.delivery}}
                            </p>
                        </ion-col>


                        <ion-col col-12 style="margin-top: -10px">
                            <h4>
                                <rating
                                    [(ngModel)]="item.rate"
                                    readOnly="true"
                                    max="5"
                                    emptyStarIconName="star-outline"
                                    halfStarIconName="star-half"
                                    starIconName="star"
                                    nullable="false">
                                </rating>
                            </h4>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4 class="p0">
                            <h6>
                                <ion-icon name="ios-cash"></ion-icon>
                                {{get_trans("cash")}}
                            </h6>
                        </ion-col>
                        <ion-col col-8 class="p0 textRight">
                            <h5 class="{{selected_lang}}_direction">
                                {{get_trans("minimum_charge")}} :
                                <strong> {{item.currency}} {{item.minimum}}</strong>
                            </h5>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12 class="p0 textCenter">

                            <div *ngIf="item.rest_is_open==0">
                                <p>{{get_trans("restaurant_is_not_available")}}</p>
                            </div>


                            <div *ngIf="item.rest_is_open==1">
                                <button ion-button class="theme_background add_cart" (click)="goCart(item.restaurant_id)">
                                    <ion-icon name="cart"></ion-icon>
                                    <span> {{get_trans("shopping_cart")}} </span>
                                </button>
                            </div>

                        </ion-col>
                    </ion-row>
                </ion-grid>


            </div>
        </div>
        <div class="item_detail">

            <div *ngFor="let foodCat of item.categories">
                <h4>{{foodCat.category_name}}</h4>

                <ul class="select_item" id="" *ngFor="let foodItm of foodCat.items">
                    <li id="{{foodItm.item_id}}">
                        <div ng-app class="list_circle" (click)="dataCart(foodItm,item.restaurant_id)">
                            <img class="img" src="{{uploads_url}}/menu/{{foodItm.item_image}}" />
                        </div>
                        <div class="list_circle_detail" (click)="dataCart(foodItm,item.restaurant_id)">
                            <h5>{{foodItm.item_name}}</h5>
                            <p>{{foodItm.item_descrption}}</p>
                            <strong>Price {{item.currency}}{{foodItm.price}} - Offer {{foodItm.offer}}%</strong>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</ion-content>
