page-item-detail {
    .item_detail_wrapper {
        width: 100%;

        .item_detail_banner {
            width: 100%;
            height: 250px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;

            }

            .top_bar {
                width: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
            }

            .banner_stamp {
                position: absolute;
                top: 190px;
                left: 10px;
                right: 10px;
                background: #fff;
                min-height: 140px;
                box-shadow: 5px 5px 25px 0px #888888;
                padding: 15px;

                h4 {
                    margin: 0px;
                    padding: 0px;
                    color: #656565;
                    font-weight: 500;
                    font-size: 18px;
                }

                h6 {
                    margin: 0px;
                    padding: 0px;
                    color: #6f6f6f;
                    font-weight: 400;

                    .icon {
                        margin-right: 10px;
                        color: #c2c1c1;
                    }
                }

                p {
                    margin: 0px;
                    padding: 0px;
                    color: #6f6f6f;
                    padding-top: 10px;
                    padding-bottom: 20px;
                    font-size: 15px;
                }

                h5 {
                    color: #b6b6b6;
                    font-weight: 400;
                    margin: 0px;
                    font-size: 15px;
                    position: relative;
                    bottom: 5px;

                    strong {
                        color: #759f32;
                        margin-left: 10px;
                        font-size: 20px;
                    }
                }
            }
        }

        .item_detail {
            width: 100%;
            padding: 15px;
            padding-top: 170px;

            p {
                margin: 0px;
                padding: 0px;
                color: #c0c0c0;
                font-weight: 500;
            }

            select {
                border: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background: url("../assets/imgs/drop_down.png") !important;
                width: 120px;
                background-repeat: no-repeat !important;
                background-position: right !important;
                background-size: 15px !important;
                color: #696969;
                font-size: 16px;
                font-weight: 500;
            }

            h4 {
                margin: 0px;
                padding: 0px;
                color: #696969;
                font-weight: 400;
                font-size: 18px;
                margin-top: 15px;
                margin-bottom: 15px;
            }

            ul {
                margin: 0px;
                padding: 0px;

                li {
                    width: 100%;
                    margin: 0px;
                    list-style: none;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #d6d6d6;

                    .list_circle {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        background: #4c4c4c;
                        float: left;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    .list_circle_detail {
                        float: left;
                        width: calc(100% - 70px);
                        padding-left: 25px;

                        h5 {
                            color: #4c4c4c;
                            margin: 0px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        p {
                            color: #989898;
                            margin: 0px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-weight: 400;
                            padding-top: 4px;
                            padding-bottom: 4px;
                        }

                        strong {
                            color: #759f32;
                            font-size: 18px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

    #lblCartCount {
        font-size: 12px;
        background: #ff0000;
        color: #fff;
        padding: 0 5px;
        vertical-align: top;
    }

    #itemCount {
        position: absolute;
        display: none;
        top: -10px;
        left: -10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: red;
        color: white;
        text-align: center;
    }

    .fav_rest {
        color: red;
    }

    button.add_cart{
        font-size: 19px;

        ion-icon{
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .rating{
        margin:0px;
        padding:0px;
        text-align: center;
        li{
            padding: 3px;
            font-size: 25px;
            .icon{
                color: #fcb040 !important;
            }
        }
    }

}
