<ion-content>
    <div class="item_detail_wrapper">
        <div class="item_detail_banner">
            <div class="top_bar">
                <button ion-button class="nav_btn floatLeft rgba_bg" (click)="back()">
                    <ion-icon name="ios-arrow-back"></ion-icon>
                </button>
                <div class="clear"></div>
            </div>
            <img src="{{uploads_url}}menu/{{item.item_image}}">
        </div>
        <div class="item_detail" style="direction: rtl;">
            <h5>{{item.item_name}}</h5>
            <p>{{item.item_descrption}}</p>
            <h4>{{get_trans("price_details")}}</h4>
            <ul>
                <li>
                    <ion-grid class="p0">
                        <ion-row>
                            <ion-col col-9 class="p0 textRight">
                                <ion-label>{{get_trans("price")}}</ion-label>
                            </ion-col>
                            <ion-col col-2 class="p0 textLeft">
                                <p>{{item.price}}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-9 class="p0 textRight">
                                <ion-label>الخصم</ion-label>
                            </ion-col>
                            <ion-col col-2 class="p0 textLeft">
                                <p>{{item.offer}}<span>%</span></p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-9 class="p0 textRight">
                                <ion-label>{{get_trans("price_after_discount")}}</ion-label>
                            </ion-col>
                            <ion-col col-2 class="p0 textLeft">
                                <p>{{item.price_offer}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </li>
            </ul>

            <!--
            <h4>Special Instructions</h4>
            -->

            <div class="increase_or_decrease_quantity_parent_div">
                <button clear (click)="increment()">
                    <ion-icon name="add-circle"></ion-icon>
                </button>
                <span id="cuantity">{{cuantity}}</span>
                <button clear (click)="decrement()">
                    <ion-icon name="remove-circle"></ion-icon>
                </button>
            </div>

            <!--
                <textarea class="item_textarea" rows="4" placeholder="Add a note ( extra cheeze, no chilly etc. )"></textarea>
            -->

            <button ion-button full class="theme_background add_cart" (click)="cart()">
                {{get_trans("add_to_cart")}}

            </button>
        </div>
    </div>
</ion-content>
