<ion-content>
    <div class="search_wrapper" style="margin-top: -50px">


        <div class="search_content">

            <h5>{{get_trans("favorite")}}</h5>
            <div class="top_catagories">
                <ul class="list_rests">
                    <li class="list_rests_li" *ngFor="let restaurant of restaurants[0]" >
                        <ion-card>
                            <ion-card-content>

                                <div class="item_image cursor_pointer" (click)="item(restaurant.id)">
                                    <img src="{{uploads_url}}restaurants/{{restaurant.cover}}">
                                </div>
                                <div class="item_detail">
                                    <ion-grid class="p0">
                                        <ion-row>
                                            <ion-col col-6 class="p0">
                                                <h2>{{restaurant.name}}</h2>
                                            </ion-col>
                                            <ion-col col-6 class="p0 textRight">
                                                <p class="{{selected_lang}}_direction">
                                                    {{get_trans("delivery_cost")}}:
                                                    {{restaurant.currency_name}}
                                                    {{restaurant.delivery_charge}}
                                                </p>
                                            </ion-col>
                                        </ion-row>

                                        <ion-row>
                                            <ion-col col-4 class="p0 textLeft">
                                                <h3>{{restaurant.type}}</h3>
                                            </ion-col>
                                            <ion-col col-8 class="p0 textRight">
                                                <h6 class="{{selected_lang}}_direction">
                                                    <strong>
                                                        {{get_trans("minimum_charge")}}:
                                                        {{restaurant.currency_name}}
                                                        {{restaurant.minimum_charge}}
                                                    </strong>
                                                </h6>
                                            </ion-col>
                                        </ion-row>

                                        <ion-row>

                                            <ion-col col-12 class="p0 textCenter">
                                                <h4>
                                                    <rating
                                                        [(ngModel)]="restaurant.rate"
                                                        readOnly="true"
                                                        max="5"
                                                        emptyStarIconName="star-outline"
                                                        halfStarIconName="star-half"
                                                        starIconName="star"
                                                        nullable="false">
                                                    </rating>
                                                </h4>
                                            </ion-col>
                                        </ion-row>

                                        <ion-row>
                                            <ion-col col-12>
                                                <button ion-button block color="danger" (click)="remove_from_favorite(restaurant.id)">
                                                    {{get_trans("remove_from_favorite")}}
                                                </button>
                                            </ion-col>
                                        </ion-row>

                                    </ion-grid>
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ion-content>
