page-favourate {
    .scroll-content {
        margin-top: 112px !important;
    }

    .landing_wrapper {
        width: 100%;

        .scroll_section {
            .row {
                .list {
                    margin: 0px;

                    .item {
                        .item-inner {
                            .input-wrapper {
                                .label {
                                    margin: 0px;

                                    .card {
                                        height: 270px;
                                        padding: 0px;
                                        border-radius: 0px;
                                        box-shadow: none !important;

                                        .card-content {
                                            padding: 0px;
                                            widows: 100px;
                                            height: 100%;

                                            .item_image {
                                                width: 100%;
                                                height: 190px;
                                                background: #eaeaea;
                                                border-radius: 0px;
                                                position: relative;

                                                .icon {
                                                    position: absolute;
                                                    top: 10px;
                                                    left: 10px;
                                                    color: #fff;
                                                    font-size: 24px;
                                                }

                                                img {
                                                    width: 100%;
                                                    height: 100%;
                                                    object-postion: center;
                                                    object-fit: cover;
                                                    border-radius: 0px;
                                                }
                                            }

                                            .item_detail {
                                                width: 100%;
                                                height: calc(100% - 190px);
                                                padding: 5px;
                                                padding-top: 10px;

                                                h2 {
                                                    color: #4c4c4c;
                                                    margin: 0px;
                                                    padding: 0px;
                                                    font-weight: 500;
                                                    letter-spacing: 0px;
                                                }

                                                p {
                                                    color: #6f6f6f;
                                                }

                                                h3 {
                                                    color: #989898;
                                                    font-size: 16px;
                                                    font-weight: 300;
                                                }

                                                h6 {
                                                    color: #759f32;

                                                    font-size: 16px;
                                                }

                                                h4 {
                                                    color: #949494;

                                                    .icon {
                                                        margin-right: 5px;
                                                    }

                                                }
                                            }

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .top_catagories {
        ul.list_rests{
            padding: 10px;
            margin: 0px;

            li.list_rests_li{
                width: 100%;
                //height: 120px;
                background: #ececec;
                display: inline-block;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }

                .label_green {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    color: #fff;
                    background: #759f32;
                    padding: 5px;
                    font-weight: 300;
                    padding-left: 10px;
                    padding-right: 10px;
                    letter-spacing: 1px;
                }
            }
        }
    }

    .rating{
        margin:0px;
        padding:0px;
        text-align: center;
        li{
            padding: 3px;
            font-size: 25px;
            .icon{
                color: #fcb040 !important;
            }
        }
    }

}
