<ion-content class="theme_transparent relative heightFull">
    <div class="filter_space" (click)="dismiss()"></div>
    <div class="filter_wrapper" padding>
        <h5>{{get_trans("search_for_restaurants")}}</h5>
        <hr>
        <div class="sort_tab">
            <ul>
                <li (click)="filter_tab(1)" [class.active]="filter_type== 1">{{get_trans("restaurants_types")}}</li>
                <li (click)="filter_tab(2)" [class.active]="filter_type== 2">{{get_trans("price_limit")}}</li>
                <li (click)="filter_tab(3)" [class.active]="filter_type== 3">{{get_trans("rate")}}</li>
                <li (click)="filter_tab(4)" [class.active]="filter_type== 4">{{get_trans("city")}}</li>
                <div class="clear"></div>
            </ul>
            {{selected_types}}
        </div>

        <div class="sort_tabcontent">
            <div [hidden]="filter_type != 1">
                <ion-list *ngIf="restaurant_types.length>0">
                    <ion-item *ngFor="let type of restaurant_types;let i = index">
                        <ion-label>{{type.type}}</ion-label>
                        <ion-checkbox
                            [checked]="selected_types.indexOf(type.id) > -1"
                            (ionChange)="updateTypes(type.id,$event)"
                        ></ion-checkbox>
                    </ion-item>
                </ion-list>
            </div>
            <div [hidden]="filter_type != 2">
                <p>{{get_trans("minimum_charge")}} {{selected_min_charge}}</p>

                <ion-item>
                    <ion-range min="0" max="{{max_min_charge}}" [(ngModel)]="selected_min_charge" color="secondary">
                        <ion-label range-left>0</ion-label>
                        <ion-label range-right>{{max_min_charge}}</ion-label>
                    </ion-range>
                </ion-item>

            </div>

            <div [hidden]="filter_type != 3">
                <p>{{get_trans("minimum_rate")}} {{selected_rating_val}}</p>

                <rating
                    readOnly="false"
                    max="5"
                    emptyStarIconName="star-outline"
                    halfStarIconName="star-half"
                    starIconName="star"
                    nullable="false"
                    [(ngModel)]="selected_rating_val"
                ></rating>

            </div>

            <div [hidden]="filter_type != 4">
                <ion-list radio-group [(ngModel)]="selected_cities" *ngIf="cities.length>0">
                    <ion-item *ngFor="let city of cities;let i = index">
                        <ion-label>{{city.name}}</ion-label>
                        <ion-radio
                            value="{{city.id}}"
                            [checked]="selected_cities==city.id"
                        >
                        </ion-radio>
                    </ion-item>
                </ion-list>
            </div>

        </div>

    </div>
</ion-content>
<ion-footer>
    <button ion-button class="filetr_btn" full (click)="show_result()">
        {{get_trans("do_filter")}}
    </button>
</ion-footer>
