<ion-content *ngFor="let item of user">
    <div class="profile_banner">
        <img class="profile_banner_circle" src="{{imageFileName}}" *ngIf="imageFileName" alt="" />
        <!-- <button ion-button (click)="getImage()" class="thisCoverImage"clear="">Change Cover Photo</button><br> -->


    </div>
    <div class="profile_wrapper">
        <div class="profile_head">
            <div class="profile_left floatLeft">
                <h4>{{item.first_name}} {{item.last_name}}</h4>
                <p>{{item.email}}</p>
            </div>
            <div class="profile_right floatRight textRight cursor_pointer" (click)="edit()">
                 <img src="assets/imgs/edit.png">
            </div>
            <div class="clear"></div>
        </div>

        <div class="profile_head">
            <div class="profile_left floatLeft">
                <h4>{{get_trans("change_password")}}</h4>
            </div>
            <div class="profile_right floatRight textRight cursor_pointer" (click)="open_change_password_page()">
                <img src="assets/imgs/edit.png">
            </div>
            <div class="clear"></div>
        </div>


        <div class="profile_head">
            <div class="profile_left floatLeft">
                <h4>{{get_trans("saved_place")}}</h4>
                <p>{{item.address}}</p>
            </div>
            <div class="clear"></div>
        </div>

        <div class="profile_head">
            <div class="profile_left floatLeft">
                <h4>{{get_trans("select_language")}}</h4>

                <button ion-button class="theme_background" (click)="change_lang('ar')">عربي</button>
                <button ion-button class="theme_background" (click)="change_lang('en')">English</button>

            </div>
            <div class="clear"></div>
        </div>

        <div class="profile_head">
            <div class="profile_left floatLeft">
                <h4>{{get_trans("complains_and_suggestions")}}</h4>
            </div>
            <div class="profile_right floatRight textRight cursor_pointer" (click)="open_complains_and_suggestions_page()">
                <img src="assets/imgs/edit.png">
            </div>
            <div class="clear"></div>
        </div>

        <div class="profile_head">
            <div class="profile_left floatLeft">
                <h4>{{get_trans("technical_support")}}</h4>
            </div>
            <div class="profile_right floatRight textRight cursor_pointer" (click)="open_technical_support_page()">
                <img src="assets/imgs/edit.png">
            </div>
            <div class="clear"></div>
        </div>



        <ul>
            <li class="pay">{{get_trans("payment_methods")}}</li>
            <li class="about">{{get_trans("help")}}</li>
        </ul>
    </div>
</ion-content>
