<ion-content padding class="theme_dark_transparent">
    <div class="wrapper">
        <div class="log_div">
            <ion-card>
                <ion-card-content>
                    <h4>Receipt</h4>
                    <hr>
                    <br>
                    <div class="cart_wrapper">
                        <h6 class="m0">Order Time</h6>
                        <h6>29th March 2017. 10:00 am</h6>
                        <div class="meal_list">
                            <ul>
                                <li>
                                    <div class="meal_number">
                                        2x
                                    </div>
                                    <div class="meal_details">
                                        <h4>Egg McMuffin™ Meal</h4>
                                        <p>Medium</p>
                                    </div>
                                    <div class="meal_amount">
                                        <h5>$ 29.88</h5>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <div class="meal_number">
                                        1x
                                    </div>
                                    <div class="meal_details">
                                        <h4>Egg McMuffin™ Meal</h4>
                                        <p>Medium</p>
                                    </div>
                                    <div class="meal_amount">
                                        <h5>$ 8.88</h5>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                            </ul>
                        </div>
                        <ion-grid class="p0">
                            <ion-row>
                                <ion-col col-6 class="textLeft p0">
                                    Sub Total
                                </ion-col>
                                <ion-col col-6 class="textRight p0">
                                    $ 8.32
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-6 class="textLeft p0">
                                    Tax
                                </ion-col>
                                <ion-col col-6 class="textRight p0">
                                    $ 1.28
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-6 class="textLeft p0">
                                    Booking Fee
                                </ion-col>
                                <ion-col col-6 class="textRight p0">
                                    $ 0.00
                                </ion-col>
                            </ion-row>
                            <br>
                            <ion-row>
                                <ion-col col-6 class="textLeft p0">
                                    <strong>Total</strong>
                                </ion-col>
                                <ion-col col-6 class="textRight p0">
                                    <strong>$ 32.56</strong>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </ion-card-content>
                <div padding class="textCenter">
                    <button ion-button full class=" receipt_close" (click)="dismiss()">Close</button>
                </div>
            </ion-card>

        </div>

    </div>

</ion-content>
