<ion-content padding class="theme_dark_transparent">
    <div class="wrapper">
        <div class="log_div">
            <ion-card>
                <ion-card-content>
                    <h4>{{get_trans("rate_now")}}</h4>
                    <hr>
                    <br>
                    <div class="textCenter">
                        <div class="ratting_circle">
                            <img src="{{uploads_url}}/restaurants/{{restaurant.cover}}">
                        </div>
                    </div>
                    <h5>{{restaurant.restaurant_name}}</h5>
                    <p>{{get_trans("rate_restaurant")}}</p>
                    <rating
                        readOnly="false"
                        max="5"
                        emptyStarIconName="star-outline"
                        halfStarIconName="star-half"
                        starIconName="star"
                        nullable="false"
                        [(ngModel)]="rate_val"
                    ></rating>

                    <p>{{get_trans("rate_delivery")}}</p>
                    <rating
                        readOnly="false"
                        max="5"
                        emptyStarIconName="star-outline"
                        halfStarIconName="star-half"
                        starIconName="star"
                        nullable="false"
                        [(ngModel)]="rate_delivery_val"
                    ></rating>

                </ion-card-content>
                <div padding class="textCenter">
                    <button ion-button full class=" receipt_close" (click)="submit_review()">
                        {{get_trans("post_rate")}}
                    </button>
                </div>
            </ion-card>

        </div>

    </div>

</ion-content>
