<ion-header class="nav_header theme_background">
    <div class="nav_header_title floatLeft">
        {{get_trans('order_address')}}:
        <span style="color: yellow" (click)="show_word(location)">{{location}}</span>
    </div>
    <span class="floatRight cursor_pointer logout_btn" (click)="logout()">
        {{user_first_name}} <ion-icon name="ios-log-out"></ion-icon>
    </span>
    <div class="clear"></div>
</ion-header>
<ion-tabs color="headColor" tabsplacement="top">
    <ion-tab [root]="tab1" tabTitle='{{get_trans("home")}}' tabIcon="md-home"></ion-tab>
    <ion-tab [root]="tab2" tabTitle="{{get_trans('favorite')}}" tabIcon="ios-heart-outline"></ion-tab>
    <ion-tab [root]="tab3" tabTitle="{{get_trans('orders')}}" tabIcon="ios-paper-outline"></ion-tab>
    <ion-tab [root]="tab4" tabTitle="{{get_trans('my_account')}}" tabIcon="md-person"></ion-tab>
</ion-tabs>

