<ion-header class="nav_header theme_background">
    <button ion-button class="nav_btn floatLeft" (click)="dismiss()">
        <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
    <div class="nav_header_title floatLeft textLeft">{{get_trans("my_account")}}</div>
    <button ion-button class="nav_btn nav_btn_1 floatRight" (click)="edit()">
        <p>{{get_trans("edit")}}</p>
    </button>
    <div class="clear"></div>
</ion-header>
<ion-content>
    <div class="profile_banner textCenter">
        <div class="profile_banner_circle">
        </div>
    </div>
    <h4>{{get_trans("account_information")}}</h4>
    <div class="content_wrapper">
        <ion-list>
            <ion-item>
                <ion-label color="primary" stacked>{{get_trans("first_name")}}</ion-label>
                <ion-input type="text" placeholder='{{get_trans("first_name")}}'></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" stacked>{{get_trans("last_name")}}</ion-label>
                <ion-input type="text" placeholder='{{get_trans("last_name")}}'></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" stacked>{{get_trans("email")}}</ion-label>
                <ion-input type="text" placeholder='{{get_trans("email")}}'></ion-input>
            </ion-item>
            <ion-label color="primary" stacked>{{get_trans("phone_number")}}</ion-label>
            <div class="mobile_number">
                <div class="code">
                    <select>
                        <option value="+970">+970</option>
                        <option value="+972">+972</option>
                    </select>
                </div>
                <div class="number">
                    <input type="email" placeholder='{{get_trans("phone_number")}}'>
                </div>
                <div class="clear"></div>
            </div>
        </ion-list>
    </div>
    <h4>Saved Places</h4>
    <ion-grid class="" padding>
        <ion-row>
            <ion-col col-5 class="p0 border_r">
                <span class="floatLeft"><img src="assets/imgs/home.png"></span>
                <span class="floatLeft">
            <h5>Home</h5>
            <h6>Add home </h6>
          </span>
                <div class="clear"></div>
            </ion-col>
            <ion-col col-5 class="p0">
                <span class="floatLeft"><img src="assets/imgs/work.png"></span>
                <span class="floatLeft">
                <h5>Work</h5>
                <h6>Add work </h6>
            </span>
                <div class="clear"></div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div padding>
        <button class="sign_out">Sign out</button>
    </div>
    <br>
</ion-content>
