<ion-header class="nav_header theme_background">
    <button ion-button class="nav_btn floatLeft" (click)="dismiss()">
        <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
    <div class="nav_header_title floatLeft textLeft">{{get_trans('change_password')}}</div>

    <div class="clear"></div>
</ion-header>
<ion-content>
    <div class="profile_banner textCenter">
        <div class="profile_banner_circle">
        </div>
    </div>
    <div class="content_wrapper">
        <form novalidate [formGroup]="form">
            <ion-list>

                <ion-item>
                    <ion-label color="primary" stacked>{{get_trans("old_password")}}</ion-label>
                    <ion-input type="password" formControlName="old_password" placeholder='{{get_trans("old_password")}}'></ion-input>
                </ion-item>
                <div>
                    <ng-container *ngFor="let validation of validation_messages.old_password">
                        <div *ngIf="form.get('old_password').hasError(validation.type)">
                            <p>{{validation.message}}</p>
                        </div>
                    </ng-container>
                </div>

                <ion-item>
                    <ion-label color="primary" stacked>{{get_trans("new_password")}}</ion-label>
                    <ion-input type="password" formControlName="new_password" placeholder='{{get_trans("new_password")}}'></ion-input>
                </ion-item>
                <div>
                    <ng-container *ngFor="let validation of validation_messages.new_password">
                        <div *ngIf="form.get('new_password').hasError(validation.type)">
                            <p>{{validation.message}}</p>
                        </div>
                    </ng-container>
                </div>

                <ion-item>
                    <ion-label color="primary" stacked>{{get_trans("confirm_new_password")}}</ion-label>
                    <ion-input type="password" formControlName="confirm_new_password" placeholder='{{get_trans("confirm_new_password")}}'></ion-input>
                </ion-item>
                <div>
                    <ng-container *ngFor="let validation of validation_messages.confirm_new_password">
                        <div *ngIf="form.get('confirm_new_password').hasError(validation.type)">
                            <p>{{validation.message}}</p>
                        </div>
                    </ng-container>
                </div>


            </ion-list>
            <br>
            <button ion-button full class="theme_background save_btn" (click)="save()">
                {{get_trans("save")}}
            </button>
            <br>
        </form>
    </div>
</ion-content>
