<ion-header class="nav_header theme_background">
    <button ion-button class="nav_btn floatLeft" (click)="back()">
        <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
    <div class="nav_header_title floatLeft textLeft">{{get_trans("filtered_restaurants")}}</div>
</ion-header>
<ion-content>
    <div class="search_wrapper" style="margin-top: -50px">


        <div class="search_content">

            <h5>{{get_trans("filtered_restaurants")}}</h5>
            <div class="top_catagories">
                <ul class="list_rests">

                    <li class="list_rests_li" *ngIf="restaurants_count==0">
                        <ion-card>
                            <ion-card-content>
                                <div class="item_detail">
                                    <ion-grid class="p0">
                                        <ion-row>
                                            <ion-col col-12 class="p0 textCenter">
                                                <h2>{{get_trans("no_restaurants_found")}}</h2>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </li>


                    <li class="list_rests_li" *ngFor="let restaurant of restaurants[0]" (click)="item(restaurant.id)">
                        <ion-card>
                            <ion-card-content>
                                <div class="item_image">
                                    <img src="{{uploads_url}}restaurants/{{restaurant.cover}}">
                                </div>
                                <div class="item_detail">
                                    <ion-grid class="p0">
                                        <ion-row>
                                            <ion-col col-6 class="p0">
                                                <h2>{{restaurant.name}}</h2>
                                            </ion-col>
                                            <ion-col col-6 class="p0 textRight">
                                                <p class="{{selected_lang}}_direction">
                                                    {{get_trans("delivery_cost")}}:
                                                    {{restaurant.currency_name}}
                                                    {{restaurant.delivery_charge}}
                                                </p>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col col-4 class="p0 textLeft">
                                                <h3>{{restaurant.type}}</h3>
                                            </ion-col>
                                            <ion-col col-8 class="p0 textRight">
                                                <h6 class="{{selected_lang}}_direction">
                                                    <strong>
                                                        {{get_trans("minimum_charge")}}:
                                                        {{restaurant.currency_name}}
                                                        {{restaurant.minimum_charge}}
                                                    </strong>
                                                </h6>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>

                                            <ion-col col-12 class="p0 textCenter">
                                                <h4>
                                                    <rating
                                                        [(ngModel)]="restaurant.rate"
                                                        readOnly="true"
                                                        max="5"
                                                        emptyStarIconName="star-outline"
                                                        halfStarIconName="star-half"
                                                        starIconName="star"
                                                        nullable="false">
                                                    </rating>
                                                </h4>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ion-content>
