
<ion-content class="login_background">
    <div class="wrapper">
        <div class="top_wrapper">
                <div class="log_div">
                    <img src="assets/imgs/land.jpeg">
                    <ion-card>
                        <ion-card-content>
                            <ion-list>
                                <ion-item >
                                    <ion-input class="user" placeholder="Email" [(ngModel)]="email" ></ion-input>
                                </ion-item>

                                <button ion-button full class="theme_background" icon-right type="submit" (click)="send_old_password()">

                                    {{get_trans("send_old_password")}}

                                    <ion-icon name="ios-arrow-forward" class=""></ion-icon>
                                </button>
                            </ion-list>
                        </ion-card-content>
                    </ion-card>

                    <h5 class="cursor_pointer" (click)="login()">
                        {{get_trans("login")}}
                    </h5>
                </div>
        </div>
        <div class="bottom_wrapper">
        </div>
    </div>
</ion-content>
