page-forget-password {
    .scroll-content {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        overflow-y: hidden;
    }
    .wrapper{
        width:100%;
        height:100%;
        .top_wrapper{
            width: 100%;
            height:350px;
            background-color: #FFF;
            background-position: relative;
            background-repeat: no-repeat;
            background-size: cover !important;


        }
        .bottom_wrapper{
            width:100%;
            //height:calc(100% - 350px);

        }
        .log_div {
            padding: 25px;
            position:absolute;
            top:0px;
            left:0px;
            right:0px;
            bottom:0px;
            //padding-top: calc(100% - 85%);
            padding-top: 20px;

            img{
                width: 400px;
                padding-bottom: 30px;
            }
            .card{
                border-radius: 5px;
                .item {
                    margin-bottom:5px;
                    .item-inner{
                        background: #ececec;
                        border-radius: 6px;
                        .text-input{
                            height: 100%;
                            padding-left: 45px !important;
                            font-size: 19px;
                            font-weight: 300;
                        }
                    }
                }
                button{
                    height:45px;
                    border-radius: 6px;
                    color: #fff;
                    font-weight: 500;
                    text-transform: capitalize;
                    font-weight: 500;
                    font-size: 20px;
                    position: relative;
                    .icon {
                        position: absolute;
                        right:10px;
                        top:17px;
                        color: #eaff00;
                        font-size: 15px;
                    }
                }
                .user{
                    background:url("../assets/imgs/user.png") !important;
                    background-position: 13px !important;
                    background-repeat: no-repeat !important;
                    background-size: 16px !important;
                }
                .pass{
                    background:url("../assets/imgs/password.png") !important;
                    background-position: 13px !important;
                    background-repeat: no-repeat !important;
                    background-size: 16px !important;
                }
                p{
                    text-align: center;
                    color: #888888;
                    padding-top: 5px;
                    font-size: 14px;
                }
            }
            h6{
                color: #749e32;
                margin:0px;
                //padding-top: calc(100% - 85%);
                padding-top: 20px;

            }
            h5{
                color: #3b3a3a;
                font-weight: 600;
                margin-top:10px;
            }
        }

        .cursor_pointer{
            cursor: pointer;
        }

    }
}
