page-signup {
    .signup_wrapper{
        width:100%;
        .top_wrapper{
            width:100%;
            height:200px;
            background:url("../assets/imgs/sign_bg.png") !important;
            background-position: center;
            background-size: cover !important;
            text-align: center;
            .nav_btn{
                color: #e4e516;
            }
            img{
                width:100px;
            }
            h3{
                margin:0px;
                padding:0px;
                color: #fff;
                font-size: 28px;
                font-weight: 400;
                padding-top: 5px;
            }
            hr{
                border:2px solid #eaff00;
                width:30px;
                margin:0 auto;
                height:0px;
                border-radius: 20px;
                margin-top:8px;
            }
        }
        .content_wrapper{
            width:100%;
            overflow: scroll;
            padding: 20px;
            padding-top:0px;
            .item {
                margin-bottom:5px;
                .item-inner{
                    border-radius: 0px;
                    border-bottom:1px solid #c8c8c8;
                    .label{
                        color: #676767;
                        font-weight: 600;
                        padding-top: 10px;
                        font-size: 12px;
                    }
                    .text-input{
                        height: 35px;
                        font-size: 19px;
                        font-weight: 400;
                        color: #c8c8c8;
                    }
                }
            }
            .label{
                color: #676767;
                font-weight: 600;
                padding-top: 10px;
                font-size: 14px;
            }
            .mobile_number{
                width:100%;
                .code{
                    width:30%;
                    float: left;
                    select{
                        width:100%;
                        height: 40px;
                        border:none;
                        border-bottom:1px solid #c8c8c8;
                        font-size: 19px;
                        font-weight: 400;
                        color: #c8c8c8;
                        background: transparent;
                        option{
                            font-size: 19px;
                            font-weight: 400;
                            color: #c8c8c8;
                        }
                    }
                }
                .number{
                    width:70%;
                    float: right;

                    input{
                        width:calc(100% - 10px);
                        border:none;
                        height: 40px;
                        border-bottom:1px solid #c8c8c8;
                        font-size: 19px;
                        font-weight: 400;
                        color: #c8c8c8;
                        margin-left: 10px;
                    }
                }
            }
            p{
                color: #888888;
                font-size: 14px;
                padding-top: 10px;
                padding-bottom:10px;
                text-align: justify;
                a{
                    color: #17c7cd;
                }
            }
            button{
                height:45px;
                border-radius: 6px;
                color: #fff;
                font-weight: 500;
                text-transform: capitalize;
                font-weight: 500;
                font-size: 20px;
                position: relative;
                .icon {
                    position: absolute;
                    right:10px;
                    top:17px;
                    color: #eaff00;
                    font-size: 15px;
                }
            }
        }
    }
}
