<ion-content>
    <div class="signup_wrapper">
        <div class="top_wrapper textCenter">
            <div class="nav_header">
                <button class="nav_btn floatLeft" (click)="back()">
                    <ion-icon name="ios-arrow-back"></ion-icon>
                </button>
                <div class="clear"></div>
            </div>
            <img src="assets/imgs/logo.png">
            <h3>{{get_trans("create_account")}}</h3>
            <hr>
        </div>
        <form [formGroup]="form" (submit)="register(form)" >
            <div class="content_wrapper">
                <ion-list>
                    <ion-item>
                        <ion-label color="primary" stacked>{{get_trans("first_name")}}</ion-label>
                        <ion-input
                            type="text"
                            placeholder='{{get_trans("first_name")}}'
                            required="required"
                            [(ngModel)]="todo.fname"
                            formControlName="fname"
                        ></ion-input>
                    </ion-item>
                    <div style="color: red; padding-top: 5px;" *ngIf="form.hasError('required', 'fname')">
                        {{get_trans("add_this_field")}}
                    </div>

                    <ion-item>
                        <ion-label color="primary" stacked>{{get_trans("last_name")}}</ion-label>
                        <ion-input
                            type="text"
                            placeholder='{{get_trans("last_name")}}'
                            required="required"
                            [(ngModel)]="todo.lname"
                            formControlName="lname"
                       ></ion-input>
                    </ion-item>
                    <div style="color: red; padding-top: 5px;" *ngIf="form.hasError('required', 'lname')">
                        {{get_trans("add_this_field")}}
                    </div>

                    <ion-item>
                        <ion-label color="primary" stacked>{{get_trans("email")}}</ion-label>
                        <ion-input
                            type="email"
                            placeholder='{{get_trans("email")}}'
                            [(ngModel)]="todo.email"
                            formControlName="email"

                        ></ion-input>
                    </ion-item>
                    <div style="color: red; padding-top: 5px;" *ngIf="form.hasError('required', 'email')">
                        {{get_trans("add_this_field")}}
                    </div>

                    <ion-item>
                        <ion-label color="primary" stacked>{{get_trans("address")}}</ion-label>
                        <ion-input
                            type="text"
                            placeholder='{{get_trans("address")}}'
                            [(ngModel)]="todo.address"
                            formControlName="address"
                        ></ion-input>
                    </ion-item>
                    <div style="color: red; padding-top: 5px;" *ngIf="form.hasError('required', 'address')">
                        {{get_trans("add_this_field")}}
                    </div>


                    <ion-label color="primary" stacked>{{get_trans("phone_number")}}</ion-label>
                    <div class="mobile_number">
                        <div class="code">
                            <select
                                [(ngModel)]="todo.phonekey"
                                formControlName="phonekey"
                            >
                                <option value="+970">+970</option>
                                <option value="+972">+972</option>
                            </select>
                            <div style="color: red; padding-top: 5px;" *ngIf="form.hasError('required', 'phonekey')">
                                {{get_trans("add_this_field")}}
                            </div>
                        </div>


                        <div class="number">
                            <input
                                type="number"
                                placeholder='{{get_trans("phone_number")}}'
                                [(ngModel)]="todo.phone"
                                formControlName="phone"
                            >
                            <div style="color: red; padding-top: 5px;" *ngIf="form.hasError('required', 'phone')">
                                {{get_trans("add_this_field")}}
                            </div>
                        </div>


                        <ion-item>
                            <ion-label color="primary" stacked>{{get_trans("password")}}</ion-label>
                            <ion-input
                                type="password"
                                [(ngModel)]="todo.password"
                                formControlName="password"
                                placeholder='{{get_trans("password")}}'
                            ></ion-input>
                        </ion-item>
                        <div style="color: red; padding-top: 5px;" *ngIf="form.hasError('required', 'password')">
                            {{get_trans("add_this_field")}}
                        </div>

                        <ion-item>
                            <ion-label color="primary" stacked>{{get_trans("confirm_password")}}</ion-label>
                            <ion-input
                                type="password"
                                [(ngModel)]="todo.confirm_password"
                                formControlName="confirm_password"
                                placeholder='{{get_trans("confirm_password")}}'
                            ></ion-input>
                        </ion-item>
                        <div style="color: red; padding-top: 5px;" *ngIf="form.hasError('required', 'confirm_password')">
                            {{get_trans("add_this_field")}}
                        </div>

                        <div class="clear"></div>
                    </div>
                </ion-list>
                <p>
                    {{get_trans("read_and_agree")}}
                    <a>{{get_trans("terms_conditions")}}</a> ,
                    <a>{{get_trans("privacy_policy")}}</a>
                </p>
                <button
                    ion-button full
                    class="theme_background"
                    icon-right
                    type="submit"
                    block

                >
                    {{get_trans('register')}}
                    <ion-icon name="ios-arrow-forward" class=""></ion-icon>
                </button>
            </div>
        </form>
    </div>
</ion-content>
