<ion-content class="verify_bg">
    <div class="verify_wrapper">
        <div class="nav_header">
            <button class="nav_btn floatLeft" (click)="back()">
                <ion-icon name="ios-arrow-back"></ion-icon>
            </button>
            <div class="clear"></div>
        </div>
        <h3>{{get_trans("verify")}}</h3>
        <hr>
        <br>
        <br>
        <p class="{{selected_lang}}_direction">{{get_trans('sent_to_your_email')}}</p>
        <p>{{get_trans('verify_msg')}}</p>
        <div class="verify_content">
            <ion-list>
                <ion-item>
                    <ion-input
                        class="user"
                        placeholder='{{get_trans("verify_msg")}}'
                        [(ngModel)]="todo.verify_code"
                        name="verify_code"
                        [ngModelOptions]="{standalone: true}"
                        required="required"
                    >
                    </ion-input>
                </ion-item>
                <button ion-button full class="theme_background" icon-right (click)="verify()">
                    {{get_trans("verify")}}
                    <ion-icon name="ios-arrow-forward" class=""></ion-icon>
                </button>
            </ion-list>
            <p (click)="resend_verification_code()">
                <strong>{{get_trans('resend_verification_code')}}</strong>
            </p>
        </div>
    </div>
</ion-content>
