<ion-header class="nav_header">
    <button class="nav_btn floatLeft" (click)="back()">
        <ion-icon name="ios-arrow-round-back-outline"></ion-icon>
    </button>
    <div class="nav_header_title floatLeft">
        {{get_trans('orders_list')}}
    </div>
</ion-header>
<ion-content padding>
    <div class="cart_wrapper">
        <h6>{{get_trans('orders_list')}}</h6>

        <div *ngFor="let item of items[0]" class="meal_list">
            <ul>
                <li class="cart_parent_div_{{item.id}}">

                    <div class="meal_number">
                        x
                        <span class="{{item.id}}" id="{{item.id}}">
                            {{cartItems_quantity[item.id]}}
                        </span>
                    </div>
                    <button clear (click)="increment(item.id,item.price_offer,item.price)">
                        <ion-icon name="add-circle"></ion-icon>
                    </button>
                    <button clear (click)="decrement(item.id,item.price_offer,item.price)">
                        <ion-icon name="remove-circle"></ion-icon>
                    </button>

                    <div class="meal_details">
                        <h4>{{item.menu_name}}</h4>
                        <p>{{item.description}}</p>

                        <button ion-button small color="danger" (click)="remove_order(item.id)">{{get_trans("remove_order")}}</button>

                    </div>
                    <div class="meal_amount">
                        <h5>
                            {{currency_name}}
                            {{item.price}}
                        </h5>
                        <p>{{get_trans("discount")}} {{item.offer}} %</p>
                    </div>
                    <div class="clear"></div>
                </li>

            </ul>
        </div>

        <h4>{{get_trans("order_details")}}</h4>
        <h4>{{get_trans("all_prices_include_tax")}}</h4>
        <!--<textarea class="item_textarea" rows="1" placeholder="Add a note ( extra cheeze, no chilly etc. )"></textarea>-->

        <ion-grid class="p0">
            <ion-row>
                <ion-col col-6 class="textLeft">
                    {{currency_name}}
                    <span id="subTotal">{{sub}}</span>
                </ion-col>
                <ion-col col-6 class="textRight">
                    {{get_trans("order_cost_before_discount")}}
                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col col-6 class="textLeft">
                    {{currency_name}}
                    <span id="descound">{{descound}}</span>
                </ion-col>
                <ion-col col-6 class="textRight">
                    {{get_trans("discount")}}
                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col col-6 class="textLeft">
                    {{currency_name}}
                    {{delivery}}
                </ion-col>
                <ion-col col-6 class="textRight">
                    {{get_trans("delivery_cost")}}
                </ion-col>

            </ion-row>
            <ion-row>

                <ion-col col-6 class="textLeft">
                    <strong>
                        {{currency_name}}
                        {{total}}
                        <span id="total"></span>
                    </strong>
                </ion-col>

                <ion-col col-6 class="textRight">
                    <strong>{{get_trans("order_total_cost")}}</strong>
                </ion-col>
            </ion-row>
        </ion-grid>

        <br>
        <div padding>
            <button ion-button full class="theme_background add_cart" (click)="checkout()">
                {{get_trans("checkout")}}
            </button>
        </div>
    </div>
</ion-content>
