<ion-header class="nav_header">
    <button class="nav_btn floatLeft" (click)="back()">
        <ion-icon name="ios-arrow-round-back-outline"></ion-icon>
    </button>
    <div class="nav_header_title floatLeft">
        {{get_trans("order_details")}}
    </div>
</ion-header>
<ion-content padding>
    <div class="cart_wrapper">
        <h6>{{get_trans("order_address")}}</h6>
        <div class="cart_map">
            <div #map id="map"></div>
        </div>
        <br>
        <h6>{{get_trans("current_location")}}</h6>
        <p>{{currentLocatione}}</p>
        <h6>{{get_trans("saved_location")}}</h6>

        <ion-item>
            <ion-label color="primary" floating>{{get_trans("address")}}</ion-label>
            <ion-input [(ngModel)]="address" ></ion-input>
        </ion-item>


        <br>
        <ion-list>
            <ion-item>
                <ion-label>{{get_trans("select_saved_place")}} </ion-label>
                <ion-toggle id="location" (click)="editLocat(this)" [(ngModel)]="toggleStatus" checked="true"></ion-toggle>
            </ion-item>
        </ion-list>

        <br>
        <br>


        <h6>{{get_trans("all_prices_include_tax")}}</h6>

        <button ion-button (click)="order()" class="add_cart theme_background widthFull">{{get_trans("confirm_order")}}</button>
    </div>
</ion-content>
