<ion-header class="nav_header theme_background">
    <button ion-button class="nav_btn floatLeft" (click)="dismiss()">
        <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
    <div class="nav_header_title floatLeft textLeft">
        {{get_trans("technical_support")}}
    </div>

    <div class="clear"></div>
</ion-header>
<ion-content>
    <div class="profile_banner textCenter">
        <div class="profile_banner_circle">
            <ion-icon name="contacts"></ion-icon>
        </div>


        <strong>pressandeat.pal@gmail.com</strong>
        <strong>00970568778855</strong>
    </div>
    <div class="content_wrapper">
        <ion-list>
            <ion-item>
                <ion-label color="primary" stacked>{{get_trans('message')}}</ion-label>
                <ion-textarea  type="address" [(ngModel)]="message" placeholder="{{get_trans('message')}}"></ion-textarea>
            </ion-item>

        </ion-list>
        <br>
        <button ion-button full class="theme_background" (click)="save()">
            {{get_trans("send")}}
        </button>
        <br>
    </div>
</ion-content>
